* {
    cursor: url('regenbogen.png'), auto;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  /*Layout*/
  body {
    height: 95vh;
    /*Hintergrund*/
    background: url("https://cdn.pixabay.com/photo/2022/05/31/00/56/sky-7232494_1280.jpg") no-repeat center fixed;
    background-size: cover;
    text-align: center; /*Text mittig*/
    color: var(--text); /*Textfarbe*/
    font-family: "Pacifico", cursive; /*Schriftfarbe*/
    display: flex; /*Layout*/
    flex-direction: column;
  }

  /* Farben und Schriftgröße(für Countdown) festlegen*/
:root{ 
    --lighterpink: #FFE1F9;
    --lighterpinksemitransparent: hsla(312, 100%, 94%, 0.8);
    --lightpink: #FFC2F3;
    --lightpinksemitransparent: hsla(312, 100%, 88%, 0.8);
    --mediumpink: #FFA4ED;
    --mediumpinksemitransparent: hsla(312, 100%, 82%,0.8);
    --darkpink: #FF85E7;
    --darkpinksemitransparent: hsla(312, 100%, 76%, 0.8);
    --white: #fcfcfa;
    --whitesemitransparent: rgba(252,252,250,0.5);
    --greysemitransparent: rgba(100,100,100,0.5);
    --darkerpink: #87537c;
    --shadowdark: rgba(0,0,0,0.75);
    --shadowmedium: rgba(0,0,0,0.24);
    --shadowlight: rgba(0,0,0,0.19);
    --stroke-width: calc(1em / 5);
    --font-size: 40px;
    --font-weight: 1000;
    --letter-spacing: calc(1em / 9);
}

/*Einstellungen Light Mode*/
.light{
 --bg: var(--whitesemitransparent);
 --text:var(--darkpink);
 --icons: var(--mediumpink);
 --buttons: var(--lighterpink);
 --arrowbutton: var(--lighterpinksemitransparent);
 --arrow: var(--darkpinksemitransparent);
 --hover: var(--white);
}

/*Einstellungen Dark Mode*/
.dark{
    --bg: var(--greysemitransparent);
    --text:var(--lighterpink);
    --icons: var(--mediumpink);
    --buttons: var(--darkpink);
    --arrowbutton:var(--darkpinksemitransparent);
    --arrow: var(--lighterpinksemitransparent);
    --hover: var(--darkerpink);
}


/*Header*/
  header {
    font-family: "Pacifico", cursive;
    text-align: center; 
    font-size: 16px; /*Schriftgröße*/ 
    padding: 1em 0 1em 0; /*Platz, der um Menü herum bleibt*/
    background-color: var(--bg);
    border-radius: 8px; /*runde Ecken*/
  }
  
/*Layout*/
  .main {
    display: flex;
    flex: 1;
    margin: 10px 0 10px 0; /*Platz zwischen den Blöcken*/
  }
  
/*Einstellungen main*/ 
  main {
    background-color: var(--bg);
    padding: 2em 0 2em 0;
    flex: 5 5 150px;
    border-radius: 8px;
    margin: 7px;

  }


/*Überschriften*/
  h1{
    font-size:20px;
    text-decoration: underline; /*gepunktet unterstrichen*/
    text-decoration-style: dotted;
  }

/* Galerie virtuelles Bücherregal*/
  .Bilder {
    margin-top:0;
    padding: 0;
  }
  
  .items {
    position: relative;
    height: 30vh;
    user-select: none; /*kann nicht ausgewählt werden*/
  }
  
  .items .item {
    position: absolute;
    top: 50%; /*mittige Position*/
    left: 50%;
    width: 20vh;
    transform: translate(-50%, -50%);
    overflow: hidden; /*kein Scrollen*/
    transition: all 300ms ease-in-out; /*Übergänge*/
    z-index: -1;/*Hinten*/
    opacity: 0;/*unsichtbar*/
  }
  
  .item img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
  }
  
  .item.active {
    opacity: 1;
    z-index: 99; /*Vordergrund*/
    transition: transform .2s; /*Übergänge*/
  }
  .item.active:hover{
    transform:scale(1.1) translate(-45%, -45%); /*wird beim Hovern größer*/  
  }
  .item.prev {
    z-index: 2;
    opacity: 0.25; /*relativ durchsichtig*/
    transform: translate(-125%, -50%); /*Position*/
  }
  
  .item.next {
    z-index: 2;
    opacity: 0.25;
    transform: translate(25%, -50%); 
  }
  
/* Button für virtuelles Bücherregal*/

  .items .button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 275px; /*Breite*/
    z-index: 100; 
  }
  
  .button-container .buttonarrow {
    color: var(--arrow);
    font-size: 32px;
    position: relative;
    opacity: 0.75;
    transition: all 300ms ease-in-out;
  }
  
  .button-container .buttonarrow:hover {
    opacity: 1; /*wird beim Hovern deckend*/
  }
  
  .button-container .buttonarrow:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-color: var(--arrowbutton);
    border-radius: 50%;
    z-index: -99;
  }
  
  .button-container .buttonarrow:nth-child(1) {
    float: left; /*linker Button*/
  }
  
  .button-container .buttonarrow:nth-child(2) {
    float: right; /*rechter Button*/
  }

  /* linke Sidebar*/
  .left {
    background-color: var(--bg);
    padding: 0 2em 0 2em;
    flex: 1 1 100px;
    border-radius: 8px;
    margin: 7px;
  }
/* Einstellungen für Buttons, die Light bzw. Dark Mode einstellen*/
  .left .button a{
    color: var(--icons);
  }
  
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  /* rechte Sidebar*/
  .right {
    background-color: var(--bg);
    padding: 0 2em 0 2em;
    flex: 1 1 100px;
    border-radius: 8px;
    margin: 7px;
  }


/*Bildergalerie rechts*/
  .column img{
 border-radius: 8px;
  }
  

/*Buttons*/
  li{
    display: inline; 
  }
  
  li a{
    font-family: "Pacifico", cursive;
    background-color: var(--buttons);
    border-radius: 8px;
    color: currentColor; /*zuletzt genutzte Schriftfarbe wird benutzt*/
    padding: 15px 32px;
    margin: 7px;
    text-align: center;
    text-decoration: line;
    display: inline-block; /*nebeneinander*/
    font-size: 14px;
    transition-duration: 0.4s; /*Dauer der Änderung beim Hovern*/
    border:none; /*kein Rand*/
  }
  
  li a:hover{
    background-color: var(--hover);
    font-size:16px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); /*Schatten beim Hovern*/
  }
  

  /*Footer*/
  footer {
    background-color:var(--bg);
    padding: 1em 0 1em 0;
    border-radius: 8px;
  }

/* für Video*/

  .video-gallery {
    margin-top: 20px;
    justify-content: center; /*mittig*/
  }
  
  .video {
    margin: 30px;
    width: 400px; /*Breite*/
    height: 300px; /*Höhe*/
  }
  
  
  .video .thumbnail {
    border: 5px solid var(--white);
    width: 100%;
    height: 100%; 
  }

  /* Code für Countdown*/
  p {
    background-clip: text;
    background-image: linear-gradient(to right,var(--lighterpink), var(--lightpink), var(--mediumpink)); /*Farbverlauf*/
    color: var(--darkpink);
    font-size: var(--font-size);
    font-weight: var(--font-weight);/*Dicke der Buchstaben*/
    letter-spacing: var(--letter-spacing); /*Platz zwischen Buchstaben*/
    padding: calc(--stroke-width / 2);
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: var(--stroke-width);
  }
  
 /* markierter Text wird grau*/ 
  ::selection {
    background: #e6e6e6;
    color: #b3b3b3;
  }
  

  /* responsive-> im Hochformat*/
  @media  (orientation: portrait) {
    li a{
      display:block; /*Buttons untereinander*/
    }
    .main {
      flex-direction: column; /*Blöcke untereinander*/
    }
  
    main {
      padding: 5em 0 5em 0;
    }
    .items .item {
      width: 20vw;
      height: 30vw;
    }
  }